@model Truescriber.BLL.Services.Models.PageModel.PagedTaskList;
@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
    <br />
    <div align="right">
        <table>
            <tr>
                <td>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" class="btn btn-sm btn-danger" value="Logout" />
                    </form>
                </td>
                <td>
                    <form method="get" sp-controller="Account" asp-action="CreateTask">
                        <input type="submit" class="btn btn-sm btn-success" value="Add task" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div class="bg-primary"><h4>Tasks</h4></div>
    <table class="table table-bordered">
        <tr>
            <th scope="col">Name task</th>
            <th scope="col">Name file</th>
            <th scope="col">Specifications</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
            <th></th>
        </tr>
        @foreach (var task in Model.TaskViewModels)
        {
            <tr>
                <td>@task.Task.TaskName</td>
                <td>@task.Task.FileName</td>
                <td>
                    Format: @task.Task.Format <br />
                    Size: @task.FileSize
                </td>
                <td>
                    Start time: @task.Task.CreateTime <br />
                </td>
                <td>@task.Task.Status</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@task.Task.Id" method="post">
                        <a class="btn btn-sm btn-primary"
                           asp-action="Edit"
                           asp-route-id="@task.Task.Id"
                           asp-route-taskName="@task.Task.TaskName">
                            Edit
                        </a>
                        <button type="submit"
                                class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <br />
    <div align="center">
        <p>@Model.PagedViewModel.PageNumber</p>
    </div>


    @if (Model.PagedViewModel.HasPreviousPage)
        {
            <a asp-action="TaskList"
               asp-route-page="@(Model.PagedViewModel.PageNumber - 1)"
               class="btn btn-default btn">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Past
            </a>
        }

        @if (Model.PagedViewModel.HasNextPage)
        {
            <a asp-action="TaskList"
               asp-route-page="@(Model.PagedViewModel.PageNumber + 1)"
               class="btn btn-default btn">
                Next
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
        
</div>